{{- with (index .Site.Data .Site.Language.Lang).home.gallery_section }}
{{- if .enable }}
<section class="gallery" id="gallery">
    <div class="container">
        {{- with .label_title }}
        <p class="section-subtitle">{{ . }}</p>
        {{- end }}
        {{- with .title }}
        <h2 class="h2 section-title">{{ . | safeHTML }}</h2>
        {{- end }}
        {{- with .description }}
        <p class="section-text">{{ . | safeHTML }}</p>
        {{- end }}
        <ul class="gallery-list">
        {{- $galleryNumber := $.Site.Params.homeGalleryNumber | default 9999 }}
            {{- range first $galleryNumber .images }}
            <li class="gallery-item">
                <figure class="gallery-image">
                    {{- with resources.GetMatch . }}
                    {{- with .Resize (printf "%dx%d webp q100" .Width .Height) }}
                    <img src="{{ .RelPermalink }}" alt="Gallery image" loading="lazy">
                    {{- end }}
                    {{- end }}
                </figure>
            </li>
            {{- end }}
        </ul>
    </div>

    <div class="button-wrapper">
        <a class="button-link btn btn-primary" href="/gallery">View All Photos</a>
    </div>
</section>
{{- end }}
{{- end }}
