<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-brand">
                <a href="{{ "/" | relLangURL }}" class="logo">
                    {{ with resources.Get (printf "images/%s" .Site.Params.logo.light) }}
                    <img id="logo-footer" src="{{ .RelPermalink }}" width="{{ .Width }}" alt="Globetrail logo">
                    {{ end }}
                </a>
                {{- with .Site.Params.description }}
                <p class="footer-text">{{ . | safeHTML }}</p>
                {{- end }}
            </div>
            <div class="footer-contact">
                <h4 class="contact-title">{{ i18n "contact_text" }}</h4>
                <div class="contact-lists">
                {{- range .Site.Params.contact }} 
                <ul class="contact-list">
                    {{- with .phone }}
                    {{- range $i, $phone := . }}
                        {{- $phone := replace $phone " " "" }}
                        {{- $phone := replace $phone "(" "" }}
                        {{- $phone := replace $phone ")" "" }}
                        {{- $phone := replace $phone "-" "" }}
                        {{- $phone := replace $phone "." "" }}
                        {{- $phone := replace $phone "," "" }}
                        <li class="contact-item">
                            {{- if eq $i 0 }}
                            <ion-icon name="call-outline"></ion-icon>
                            {{ else }}
                            <ion-icon></ion-icon>
                            {{ end }}
                            <a href="tel:{{ $phone }}" class="contact-link">{{ . }}</a>
                        </li>
                    {{ end }}
                    {{- end }}
                    {{- with .email }}
                    <li class="contact-item">
                        <ion-icon name="mail-outline"></ion-icon>
                        <a href="mailto:{{ . }}" class="contact-link">{{ . }}</a>
                    </li>
                    {{- end }}
                    {{- with .location }}
                    <li class="contact-item">
                        <ion-icon name="location-outline"></ion-icon>
                        <address>{{ . | safeHTML }}</address>
                    </li>
                    {{- end }}
                </ul>
                {{- end }}
                </div>
            </div>
            <div class="footer-form">
                <p class="form-text">
                    Subscribe our newsletter for more update & news !!
                </p>
                <form action="" class="form-wrapper">
                    <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>
                    <button type="submit" class="btn btn-secondary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">
                &copy; {{ with .Site.Params.copyright }}{{ . | safeHTML }}{{ end }}
            </p>
            <ul class="footer-bottom-list">
                {{- range .Site.Menus.footer }}
                <li>
                    <a href="{{ .URL | absURL }}" class="footer-bottom-link">{{ .Name | i18n }}</a>
                </li>
                {{- end }}
            </ul>
        </div>
    </div>
</footer>
