<nav class="navbar" data-navbar>
  <div class="navbar-top">
    <a href="#" class="logo">
      <img src="./assets/images/logo-blue.svg" alt="Tourly logo">
    </a>
    <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <ul class="navbar-list">
    {{ range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}" class="navbar-link" data-nav-link>{{ .Name }}</a>
        </li>
    {{ end }}
  </ul>
</nav>

